/*Q1*/
h1 {
    color: blue;
}
/*Q2*/
.colleges{
    background-color: #c83;
}
/*Q3*/
.topics {
    list-style-type: none;
}
/*Q4*/
img {
    max-width: 300px;
}
/*Q5*/
figure {
    display: inline-block;
}
/*Q6*/
figure {
    margin: 20px 20px 20px 20px;
}
/*Q7 done*/


